.btn-group>.btn-group,.btn-toolbar .btn,.btn-toolbar .btn-group,.btn-toolbar .input-group,.dropdown-menu {
  float: left;
}

.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle,.dropdown-toggle:focus,.modal,.modal-content,.open>a {
  outline: 0;
}

.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.modal-footer:after,.modal-header:after,.panel-body:after {
  clear: both;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown,.dropup {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 88px;
  padding: 5px 0;
  margin: 1px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: center;
  background-color: #007ce8;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
  background-clip: padding-box;
}

.dropdown-menu-right,.dropdown-menu.pull-right {
  left: auto;
  right: 0;
}

.dropdown-header,.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  line-height: 1.42857;
  white-space: nowrap;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu>li>a {
  clear: both;
  font-weight: 400;
  color: #98c9ff;
}

.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
  text-decoration: none;
  color: #fff;
}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #08f;
}

.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover {
  color: #777;
}

.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: not-allowed;
}

.progress-bar-striped,.progress-striped .progress-bar,.progress-striped .progress-bar-danger,.progress-striped .progress-bar-info,.progress-striped .progress-bar-success,.progress-striped .progress-bar-warning {
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.open>.dropdown-menu {
  display: block;
}

.dropdown-menu-left {
  left: 0;
  right: auto;
}

.dropdown-header {
  font-size: 12px;
  color: #777;
}

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}

.navbar-right .dropdown-menu,.pull-right>.dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid\9;
  content: "";
}

.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

.navbar-right .dropdown-menu-left {
  left: 0;
  right: auto;
}

.btn-group,.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group-vertical>.btn,.btn-group>.btn {
  position: relative;
  float: left;
}

.btn-group-vertical>.btn.active,.btn-group-vertical>.btn:active,.btn-group-vertical>.btn:focus,.btn-group-vertical>.btn:hover,.btn-group>.btn.active,.btn-group>.btn:active,.btn-group>.btn:focus,.btn-group>.btn:hover {
  z-index: 2;
}

.btn-group .btn+.btn,.btn-group .btn+.btn-group,.btn-group .btn-group+.btn,.btn-group .btn-group+.btn-group {
  margin-left: -1px;
}

.btn-toolbar {
  margin-left: -5px;
}

.btn-toolbar:after,.btn-toolbar:before {
  content: " ";
  display: table;
}

.btn-toolbar>.btn,.btn-toolbar>.btn-group,.btn-toolbar>.input-group {
  margin-left: 5px;
}

.btn .caret,.btn-group>.btn:first-child {
  margin-left: 0;
}

.btn-group>.btn+.dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
}

.btn-group-lg.btn-group>.btn+.dropdown-toggle,.btn-group>.btn-lg+.dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}

.btn-group.open .dropdown-toggle {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-group.open .dropdown-toggle.btn-link {
  box-shadow: none;
}

.btn-group-lg>.btn .caret,.btn-lg .caret {
  border-width: 5px 5px 0;
}

.dropup .btn-group-lg>.btn .caret,.dropup .btn-lg .caret {
  border-width: 0 5px 5px;
}

.btn-group-vertical>.btn,.btn-group-vertical>.btn-group,.btn-group-vertical>.btn-group>.btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}

.btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before {
  content: " ";
  display: table;
}

.btn-group-vertical>.btn-group>.btn {
  float: none;
}

.btn-group-vertical>.btn+.btn,.btn-group-vertical>.btn+.btn-group,.btn-group-vertical>.btn-group+.btn,.btn-group-vertical>.btn-group+.btn-group {
  margin-top: -1px;
  margin-left: 0;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.btn-group-justified>.btn,.btn-group-justified>.btn-group,.btn-group-justified>li {
  float: none;
  display: table-cell;
  width: 1%;
}

.btn-group-justified>.btn-group .btn {
  width: 100%;
}

.btn-group-justified>.btn-group .dropdown-menu {
  left: auto;
}

.modal,.modal-backdrop {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

[data-toggle=buttons]>.btn input[type=radio],[data-toggle=buttons]>.btn input[type=checkbox],[data-toggle=buttons]>.btn-group>.btn input[type=radio],[data-toggle=buttons]>.btn-group>.btn input[type=checkbox] {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group[class*=col-] {
  float: none;
  padding-left: 0;
  padding-right: 0;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group .form-control:focus {
  z-index: 3;
}

.input-group .form-control,.input-group-addon,.input-group-btn {
  display: table-cell;
}

.input-group .form-control:not(:first-child):not(:last-child),.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.input-group-addon,.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
}

.input-group-addon.input-sm,.input-group-sm>.input-group-addon,.input-group-sm>.input-group-btn>.input-group-addon.btn {
  padding: 5px 10px;
  font-size: 12px;
}

.input-group-addon.input-lg,.input-group-lg>.input-group-addon,.input-group-lg>.input-group-btn>.input-group-addon.btn {
  padding: 10px 16px;
  font-size: 18px;
}

.input-group-addon input[type=radio],.input-group-addon input[type=checkbox] {
  margin-top: 0;
}

.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn-group:not(:last-child)>.btn,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-addon:first-child {
  border-right: 0;
}

.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group-addon:last-child {
  border-left: 0;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-btn>.btn {
  position: relative;
}

.input-group-btn>.btn+.btn {
  margin-left: -1px;
}

.input-group-btn>.btn:active,.input-group-btn>.btn:focus,.input-group-btn>.btn:hover {
  z-index: 2;
}

.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group {
  margin-right: -1px;
}

.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group {
  z-index: 2;
  margin-left: -1px;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
}

.panel,.progress {
  margin-bottom: 20px;
}

.pagination>li {
  display: inline;
}

.pagination>li>a,.pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857;
  text-decoration: none;
  color: #08f;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination>li:first-child>a,.pagination>li:first-child>span {
  margin-left: 0;
}

.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover {
  z-index: 2;
  color: #22527b;
  background-color: #eee;
  border-color: #ddd;
}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  background-color: #08f;
  border-color: #08f;
  cursor: default;
}

.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover {
  color: #777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

.pagination-lg>li>a,.pagination-lg>li>span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
}

.pagination-sm>li>a,.pagination-sm>li>span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

.progress {
  overflow: hidden;
  height: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 10px;
  color: #fff;
  text-align: center;
  background-color: #08f;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  transition: width .6s ease;
}

.panel-heading>.dropdown .dropdown-toggle,.panel-title,.panel-title>.small,.panel-title>.small>a,.panel-title>a,.panel-title>small,.panel-title>small>a {
  color: inherit;
}

.progress-bar-striped,.progress-striped .progress-bar {
  background-size: 40px 40px;
}

.progress-bar.active,.progress.active .progress-bar {
  animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success {
  background-color: #5cb85c;
}

.progress-bar-info {
  background-color: #5bc0de;
}

.progress-bar-warning {
  background-color: #f0ad4e;
}

.progress-bar-danger {
  background-color: #d9534f;
}

.panel {
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-title,.panel>.list-group,.panel>.panel-collapse>.list-group,.panel>.panel-collapse>.table,.panel>.table,.panel>.table-responsive>.table {
  margin-bottom: 0;
}

.panel-body {
  padding: 15px;
}

.panel-body:after,.panel-body:before {
  content: " ";
  display: table;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
}

.panel-title {
  margin-top: 0;
  font-size: 16px;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

.panel>.list-group .list-group-item,.panel>.panel-collapse>.list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}

.panel-group .panel-heading,.panel>.list-group:last-child .list-group-item:last-child,.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child,.panel>.table-bordered>tbody>tr:first-child>td,.panel>.table-bordered>tbody>tr:first-child>th,.panel>.table-bordered>tbody>tr:last-child>td,.panel>.table-bordered>tbody>tr:last-child>th,.panel>.table-bordered>tfoot>tr:last-child>td,.panel>.table-bordered>tfoot>tr:last-child>th,.panel>.table-bordered>thead>tr:first-child>td,.panel>.table-bordered>thead>tr:first-child>th {
  border-bottom: 0;
}

.panel>.list-group:first-child .list-group-item:first-child,.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child {
  border-top: 0;
}

.list-group+.panel-footer,.panel-heading+.list-group .list-group-item:first-child {
  border-top-width: 0;
}

.panel>.panel-collapse>.table caption,.panel>.table caption,.panel>.table-responsive>.table caption {
  padding-left: 15px;
  padding-right: 15px;
}

.panel>.panel-body+.table,.panel>.panel-body+.table-responsive,.panel>.table+.panel-body,.panel>.table-responsive+.panel-body {
  border-top: 1px solid #ddd;
}

.panel>.table>tbody:first-child>tr:first-child td,.panel>.table>tbody:first-child>tr:first-child th {
  border-top: 0;
}

.panel>.table-bordered {
  border: 0;
}

.panel>.table-bordered>tbody>tr>td:first-child,.panel>.table-bordered>tbody>tr>th:first-child,.panel>.table-bordered>tfoot>tr>td:first-child,.panel>.table-bordered>tfoot>tr>th:first-child,.panel>.table-bordered>thead>tr>td:first-child,.panel>.table-bordered>thead>tr>th:first-child {
  border-left: 0;
}

.panel>.table-bordered>tbody>tr>td:last-child,.panel>.table-bordered>tbody>tr>th:last-child,.panel>.table-bordered>tfoot>tr>td:last-child,.panel>.table-bordered>tfoot>tr>th:last-child,.panel>.table-bordered>thead>tr>td:last-child,.panel>.table-bordered>thead>tr>th:last-child {
  border-right: 0;
}

.panel-group {
  margin-bottom: 20px;
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}

.panel-group .panel+.panel {
  margin-top: 5px;
}

.panel-group .panel-heading+.panel-collapse>.list-group,.panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 1px solid #ddd;
}

.panel-group .panel-footer {
  border-top: 0;
}

.panel-group .panel-footer+.panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}

.panel-default {
  border-color: #ddd;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #ddd;
}

.panel-default>.panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}

.panel-default>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #ddd;
}

.panel-primary {
  border-color: #08f;
}

.panel-primary>.panel-heading {
  color: #fff;
  background-color: #08f;
  border-color: #08f;
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #08f;
}

.panel-primary>.panel-heading .badge {
  color: #08f;
  background-color: #fff;
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #08f;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success>.panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-success>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #d6e9c6;
}

.panel-success>.panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}

.panel-success>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #d6e9c6;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info>.panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #bce8f1;
}

.panel-info>.panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}

.panel-info>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #bce8f1;
}

.panel-warning {
  border-color: #faebcc;
}

.panel-warning>.panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.panel-warning>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #faebcc;
}

.panel-warning>.panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}

.panel-warning>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #faebcc;
}

.panel-danger {
  border-color: #ebccd1;
}

.panel-danger>.panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.panel-danger>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #ebccd1;
}

.panel-danger>.panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}

.panel-danger>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #ebccd1;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
}

.modal.fade .modal-dialog {
  transform: translate(0,-25%);
  transition: transform .3s ease-out;
}

.modal.in .modal-dialog {
  transform: translate(0,0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  background-clip: padding-box;
}

.api-tabs>li+li,.api-tabs>li:first-child.active {
  border-left: 1px solid #555;
}

.modal-backdrop {
  position: fixed;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: .5;
  filter: alpha(opacity=50);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header:after,.modal-header:before {
  content: " ";
  display: table;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer:after,.modal-footer:before {
  content: " ";
  display: table;
}

.modal-footer .btn+.btn {
  margin-left: 5px;
  margin-bottom: 0;
}

.modal-footer .btn-group .btn+.btn {
  margin-left: -1px;
}

.modal-footer .btn-block+.btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width:768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  .modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }

  .modal-sm {
    width: 300px;
  }
}

@media (min-width:992px) {
  .modal-lg {
    width: 900px;
  }
}

.api-tabs {
  width: 100%;
  min-height: 46px;
  display: table;
  table-layout: fixed;
  list-style: none;
  padding: 2px;
  border: 1px solid #555;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMCAYAAACji9dXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC9JREFUeNpiYGBgSGACEiIggh1EMIKIXyDiE4h4zQwkhEEEO4hgBBH/QMR/gAADAH7TBYegmfAWAAAAAElFTkSuQmCC) repeat-x #1d1d1d;
}

.api-tabs>li {
  display: table-cell;
  width: 1em;
  font-size: 16px;
  height: 1em;
  text-shadow: 0 0 1px rgba(0,0,0,.5);
  text-align: center;
  vertical-align: middle;
}

.api-tabs>li.active {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAYAAADtlXTHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACZJREFUeNpi+P//vzITAwMDE4j4j4X4h8oinUAzBUEw4GIxAAQYACMFGzjguLxPAAAAAElFTkSuQmCC) repeat-x;
}

.api-tabs>li:last-child.active {
  border-right: 1px solid #555;
}

.api-tabs>.disabled:hover>a,.api-tabs>li>a:link,.api-tabs>li>a:visited {
  color: #888;
  display: block;
  white-space: nowrap;
}

.api-tabs>.disabled>a:link {
  font-size: 13px;
  display: inline-block;
}

.api-tabs>li>a:hover {
  text-decoration: none;
}

.api-tabs>li.active a,.api-tabs>li>a:hover {
  color: #fff0b4;
}

.api-tabs>li>a>.gui {
  font-size: 1.8em;
  vertical-align: middle;
  padding-right: 10px;
}

.api-tabs.radius {
  border-radius: 5px;
}

.api-tabs.radius>li:first-child.active {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.api-tabs.radius>li:last-child.active {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.api-tabs>.disabled {
  cursor: not-allowed;
  opacity: .4;
  filter: alpha(opacity=40);
  text-shadow: none;
}

.iealert {
  font-size: 12px;
  background: #008bff;
  color: #fff;
  height: 38px;
  line-height: 38px;
  border-top: 1px solid #33a2ff;
  border-bottom: 1px solid #006fcc;
}

.iealert .brow {
  color: #0F3;
  text-decoration: underline;
}

.iealert .gui {
  font-size: 1.5em;
  padding-left: 10px;
}

.iealert .close {
  font-size: 2em;
  margin-top: 3px;
}

.dropjiao {
  position: absolute;
  top: -20px;
  left: 63px;
}