.index-slide {height: 318px !important;}
.slide-inner {height: 320px !important;}
.index-screen-01 {margin-top: 1em;}
.p2-left-box {width: 408px !important; margin-right: 10px}
.p2-center-box {width: 408px !important; margin-right: 10px}
.p2-right-box {width: 335px !important;}
.p2-item {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.p2-block {
    width: 408px;
    height: 227px;
    position: relative;
    margin-bottom: 10px;
}
.p2-block .rule {
    margin: 20px 0 0 258px;
    position: absolute;
    width: 125px;
    display: block;
    height: 170px;
}
.p2-block .start {
    margin: 135px 0 0 44px;
    position: absolute;
    width: 109px;
    display: block;
    height: 40px;
}
.p2-pt {background-image: url(../images/p2_pt.png);}
.p2-ag {background-image: url(../images/p2_ag.png);}
.p2-mg {background-image: url(../images/p2_mg.png);}
.p2-bbin {background-image: url(../images/p2_bbin.png);}
.p2-experience {
    background: url(../images/p2_experience.gif) no-repeat;
}
.p2-experience img {
    margin-top: 60px;
}
.p2-promotion {
    width: 360px;
    background: url(../images/p2_promotion.gif) no-repeat;
}
.p2-promotion .more {
    width: 100%;
    text-align: right;
    padding-top: 1.5em;
}
.p2-promotion .more a {
    color: #F39C51;
    letter-spacing: 3px;
}
.p2-promotion .more .fa {
    margin-left: .5em;
}
.p2-promotion ul {
    margin-top: 40px;
    width: 360px;
}
.p2-promotion ul li {
    margin-bottom: .9em;
}
.p2-promotion ul li.minor {
    opacity: 0.5;
}
.p2-promotion ul li::before {
    content: ">";
    margin: 0 1em 0 2em;
    color: white;
}
.p2-promotion ul li .date {
    display: inline;
    float: right;
    margin-right: 10px;
}