doctype html
html(lang='en')
    head
        block head
            title 首页
            meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            meta(name='renderer', content='webkit')
            meta(name='keywords', content='')
            meta(name='description', content='')
            link(rel='bookmark', href='./static/images/favicon.ico')
            link(rel='shortcut Icon', href='./static/images/favicon.ico')
            link(rel='stylesheet', href='./static/styles/gui-ued.css')
            link(rel='stylesheet', href='./static/styles/gui-skin-ued.css')
            link(rel='stylesheet', href='./static/styles/common.css')
            link(rel='stylesheet', href='./static/styles/keyframes.css')
            link(rel='stylesheet', href='./static/styles/bootstrap-dialog.min.css')
            script(type='text/javascript').
                var RootUrl = "http://www.uedk68.com"
                var indexUrl = "http://www.uedk28.com"
                var views = "/views/"
            //if lt IE 9
                script(src='./js/html5.min.js')
    body
        header
            section.static-bar
                .container
                    .static-left
                        span.shiqu
                            | GMT+08:00    
                            span.time.side._user_time(time='1481784158584', style='display: inline;')
                    .static-right
                        img(src='./static/images/top-host.png')
                    .clear
                    .static-right
                        .header-login._vr_unLogin(style='display: block')
                            form.form-inline(role='form')
                                input(type='hidden', name='type', value='top')
                                .form-group.form-group-sm
                                    input#username.form-control(type='text', name='username', tabindex='1', maxlength='16', placeholder='会员账号')
                                    a.tip-forget.forgetNumber(href='javascript:') 忘记？
                                .form-group.form-group-sm
                                    input#password.form-control(type='password', name='password', tabindex='2', maxlength='16', placeholder='密码')
                                    a.tip-forget.forgetPwd.openNewWindow(href='javascript:', data-url='commonPage/forgetPwd.html', data-shorttxt='？', title='点击找回密码', data-longtxt='忘记？') 忘记？
                                .form-group.form-group-sm.scode._vr_captcha_box(style='display: none;')
                                    input.form-control(type='text', name='captcha', tabindex='3', maxlength='4', placeholder='验证码')
                                    a.tip-scode(href='javascript:;')
                                        img._vr_captcha_code(data-code='loginTop')
                                a.btn.btn-sm.btn-default._vr_login(type='button') 登录
                                a.btn.btn-sm.btn-primary(type='button', href='/views/register.html') 注册
                                a.btn.btn-sm.btn-success.openNewWindow.kefu(type='button', target='_blank', href='http://chat.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=651273&configID=45233&jid=8622492600')
                                    span.gui.gui-headphones
                                    |  在线客服
                        .clear
                        .header-panel._vr_loginSuccess(style='display: block;')
                            a._vr_nickname(href='/views/personalCenter.html')
                            a._vr_notice(href='/views/per_message.html') 0
                            .btn-group.dropdown.show-on-hover._vr_balanceBox
                                a.static-btn(href='/views/personalCenter.html', name='balance_show', data-toggle='dropdown')
                                    | 个人中心
                                    span.caret
                                ul.dropdown-menu.dropdown-menu-left.members-dropdown
                                    li
                                        span.dropjiao
                                            img(src='./static/images/dropjiao.png')
                                        a(href='/views/per_message.html') 消息中心
                                    li
                                        a(href='/views/coupon.html') 优惠券
                                    li
                                        a(href='/views/personalCenter.html') 安全设置
                                    li
                                        a(href='/views/accountSettings.html') 账号设置
                                    li
                                        a(href='/views/per_betting.html') 投注记录
                            .btn-group.dropdown.show-on-hover._vr_balanceBox
                                a.static-btn(href='javascript:void(0);', name='balance_show', data-toggle='dropdown')
                                    | 资产管理
                                    span.caret
                                ul.dropdown-menu.dropdown-menu-left.members-dropdown
                                    li
                                        span.dropjiao
                                            img(src='./static/images/dropjiao.png')
                                        a(href='/views/recharge.html', target='_blank') 充值
                                    li
                                        a(href='/views/reflect.html') 提款
                                    li
                                        a(href='/views/transfer.html') 转账
                                    li
                                        a(href='/views/transactionRecord.html') 资金明细
                            a.reminder(href='javaScript:;') 催到账
                            a.logOut(href='javascript:;') 退出
                            .pull-right
                                a.btn.btn-sm.btn-success.openNewWindow.kefu(type='button', href='http://chat.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=651273&configID=45233&jid=8622492600', target='_blank')
                                    span.gui.gui-headphones
                                    |  在线客服
            block navbar
                nav.navbar.navbar-default.top-navbar
                    .container
                        .navbar-header
                            a(href='/views/index.html')
                                img(src='./static/images/logo.png')
                        .navbar-collapse
                            block navbar-list
                                ul.nav.navbar-nav._vr_nav
                                    li.nav-item
                                        a(href='/views/index.html') 首页
                                    li.nav-item(rel='sub-sports')
                                        a(href='/views/sports.html')
                                            | 体育大厅
                                            i.triangle
                                    li.nav-item(rel='sub-live')
                                        a(href='/views/entertainment.html')
                                            | 真人视讯
                                            i.triangle
                                    li.nav-item(rel='sub-chess')
                                        a(href='/views/chess.html')
                                            | 捕魚王
                                            i.triangle
                                    li.nav-item(rel='sub-tiger')
                                        a._vr_mt_check(href='/views/slotMachine.html')
                                            | 老虎机
                                            i.triangle
                                    li.nav-item(rel='sub-lottery')
                                        a(href='/views/lottery.html')
                                            | 彩票
                                            i.triangle
                                    li.nav-item(rel='sub-casino')
                                        a(href='http://www.uedk68.com?d=api&c=game&m=entergame&pid=23&gametype=0', target='_blank')
                                            | 六合彩
                                            i.triangle
                                    li.nav-item.tryPlay(rel='sub-tryPlay')
                                        a(href='javascript:')
                                            i.triangle
                                    li.nav-item(rel='sub-client')
                                        a(href='javascript:')
                                            | 下载中心
                                            i.triangle
                                    li.nav-item
                                        a(href='/views/promo.html') 优惠活动
                    .navbar-sub
                        #sub-sports.sub-content(rel='sub-sports')
                            .container
                                .row.row-gutter-0
                                    .col-5-1
                                        dl.sub-box.rebate
                                            dt
                                                span.num-single(num='1')
                                                i.num-dot
                                                span.num-decimal(num='2')
                                                i.num-pre
                                            dd
                                                p 每周返水
                                                p 不设上限
                                    .col-5-4
                                        .api-games-wrap
                                            .api-games.api-games-sports
                                                ul.list-unstyled
                                                    li
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(href='/views/sports.html', data-apitype='3', starttime='1473897600000', endtime='1473897600000')
                                                                    span.apiicon.sbsportIcon
                                                                    i.sbI 沙巴体育
                                                            dd
                                                                p
                                                                    span 全年提供数万场体育赛事直播
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray(data-api='4', href='/views/sports.html', starttime='1472688000000', endtime='1472688000000') 进入游戏
                                                    li
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(starttime='1472688000000', endtime='1472688000000', target='_blank', href='http://www.uedk68.com?d=api&c=game&m=entergame&pid=23&gametype=4')
                                                                    span.apiicon.bbinsportIcon
                                                                    i.bbinI BBIN体育
                                                            dd
                                                                p
                                                                    span 新生代体育赛事传播平台
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray(data-api='4', target='_blank', href='http://www.uedk68.com?d=api&c=game&m=entergame&pid=23&gametype=4', starttime='1472688000000', endtime='1472688000000') 进入游戏
                        #sub-live.sub-content(rel='sub-live')
                            .container
                                .row.row-gutter-0
                                    .col-5-1
                                        dl.sub-box.rebate
                                            dt
                                                span.num-single(num='1')
                                                i.num-dot
                                                span.num-decimal(num='2')
                                                i.num-pre
                                            dd
                                                p 天天返水
                                                p 最高可达
                                    .col-5-4
                                        .api-games-wrap
                                            .api-games.api-games-live
                                                ul.list-unstyled
                                                    li
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(data-api='10', target='_blank', href='http://www.uedk68.com?d=api&c=game&m=entergame&pid=23&gametype=1&gameTitle=BBIN娱乐城', data-apitype='1')
                                                                    span.apiicon.i-bb
                                                                    i BBIN娱乐城
                                                            dd
                                                                p
                                                                    span 最创新、最具特色的娱乐城平台
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(target='_blank', data-api='10', href='http://www.uedk68.com?d=api&c=game&m=entergame&pid=23&gametype=1&gameTitle=BBIN娱乐城', data-apitype='1') 立即游戏
                                                    li
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(data-api='9', href='/views/game.html?d=api&c=game&m=entergame&pid=18&gametype=0&gameTitle=AG娱乐城', data-apitype='1')
                                                                    span.apiicon.i-ag
                                                                    i AG娱乐城
                                                            dd
                                                                p
                                                                    span 市场占有率最高的娱乐城
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='9', href='/views/game.html?d=api&c=game&m=entergame&pid=18&gametype=0&gameTitle=AG娱乐城', data-apitype='1') 立即游戏
                                                    li
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(data-api='5', href='/views/game.html?d=api&c=game&m=entergame&pid=22&gametype=0&gameTitle=MG娱乐城', data-apitype='1')
                                                                    span.apiicon.i-mg
                                                                    i MG娱乐城
                                                            dd
                                                                p
                                                                    span 14桌、7画面下注、最奢华视觉
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='5', href="/views/game.html?d=api&c=game&m=entergame&pid=22&gametype=0&gameTitle='MG娱乐城'", data-apitype='1') 立即游戏
                                                    li
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(data-api='9', href='/views/game.html?d=api&c=game&m=entergame&pid=9&gametype=bal&gameTitle=PT娱乐城', data-apitype='1')
                                                                    span.apiicon.i-pt
                                                                    i PT娱乐城
                                                            dd
                                                                p
                                                                    span 全球顶尖公司才能使用的热门平台
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='9', href='/views/game.html?d=api&c=game&m=entergame&pid=9&gametype=bal&gameTitle=PT娱乐城', data-apitype='1') 立即游戏
                        #sub-tiger.sub-content(rel='sub-tiger')
                            .container
                                .row.row-gutter-0
                                    .col-5-1
                                        dl.sub-box.rebate
                                            dt
                                                span.num-single(num='2')
                                                i.num-dot
                                                span.num-decimal(num='0')
                                                i.num-pre
                                            dd
                                                p 天天返水
                                                p 最高可达
                                    .col-5-4
                                        .api-games-wrap
                                            .api-games.api-games-tiger
                                                ul.list-unstyled
                                                    li
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(data-api='3', href='/views/slotMachine.html?type=pt', data-apitype='2', data-href='', data-mt-ic='_vr_mt_casino_3')
                                                                    span.apiicon.c-pt
                                                                    i PT
                                                            dd
                                                                p
                                                                    span 全球最佳PT平台，每周至少有两个30A奖池大奖诞生
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='3', href='/views/slotMachine.html?type=pt', data-apitype='2') 立即游戏
                                                    li
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(data-api='6', href='/views/slotMachine.html?type=xin', data-apitype='2', data-mt-ic='_vr_mt_casino_6', starttime='1473120000000', endtime='1473120000000')
                                                                    span.apiicon.c-xin
                                                                    i XIN
                                                            dd
                                                                p
                                                                    span 专注老虎机的金牌平台
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='6', href='/views/slotMachine.html?type=xin', data-apitype='2', starttime='1473120000000', endtime='1473120000000') 立即游戏
                                                    li
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(data-api='9', href='/views/slotMachine.html?type=mg', data-apitype='2', data-mt-ic='_vr_mt_casino_9')
                                                                    span.apiicon.c-mg
                                                                    i MG
                                                            dd
                                                                p
                                                                    span 首款覆盖全平台老虎机游戏
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='9', href='/views/slotMachine.html?type=mg', data-apitype='2') 立即游戏
                        #sub-lottery.sub-content(rel='sub-lottery')
                            .container
                                .row.row-gutter-0
                                    .col-5-1
                                        dl.sub-box.rebate
                                            dt
                                                span.num-single(num='1')
                                                i.num-dot
                                                span.num-decimal(num='0')
                                                i.num-pre
                                            dd
                                                p 天天返水
                                                p 最高可达
                                    .col-5-4
                                        dl.sub-box.api-item
                                            dt
                                                a._vr_mt_check(data-api='10', style='display:block; height:125px;', href='http://www.uedk68.com?d=api&c=game&m=entergame&pid=23&gametype=3', target='_blank', data-apitype='3', starttime='1473811200000', endtime='1473811200000')
                                                    i BBIN彩票
                                            dd
                                                p
                                                    span 冬日寒冷，躲在被窝玩bbin彩票，暖暖的，很贴心
                                                p
                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='10', href='http://www.uedk68.com?d=api&c=game&m=entergame&pid=23&gametype=3', target='_blank', data-apitype='3', starttime='1473811200000', endtime='1473811200000') 立即游戏
                        #sub-casino.sub-content(rel='sub-casino')
                            .container
                                .row.row-gutter-0
                                    .col-5-1
                                        dl.sub-box.rebate
                                            dt
                                                span.num-single(num='1')
                                                i.num-dot
                                                span.num-decimal(num='0')
                                                i.num-pre
                                            dd
                                                p 业内第一
                                                p 每天返水
                                    .col-5-4
                                        dl.sub-box.api-item
                                            dt
                                                a._vr_mt_check(data-api='10', style='display:block; height:125px;', href='http://www.uedk68.com?d=api&c=game&m=entergame&pid=23&gametype=0', target='_blank', data-apitype='3', starttime='1473811200000', endtime='1473811200000')
                                                    i 六合彩
                                            dd
                                                p
                                                    span 冬日寒冷，躲在被窝玩bbin彩票，暖暖的，很贴心
                                                p
                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='10', href='http://www.uedk68.com?d=api&c=game&m=entergame&pid=23&gametype=0', data-apitype='3', target='_blank', starttime='1473811200000', endtime='1473811200000') 立即游戏
                        #sub-chess.sub-content(rel='sub-chess')
                            .container
                                .row.row-gutter-0
                                    .col-5-1
                                        dl.sub-box.rebate
                                            dt
                                                span.num-single(num='1')
                                                i.num-dot
                                                span.num-decimal(num='0')
                                                i.num-pre
                                            dd
                                                p 天天返水
                                                p 最高可达
                                    .col-5-4
                                        dl.sub-box.api-item
                                            dt
                                                a._vr_mt_check(data-api='10', href='/views/game.html?type=ag', data-apitype='3', starttime='1473811200000', endtime='1473811200000')
                                                    i AG捕鱼王
                                            dd
                                                p
                                                    span 最流畅的交互、最一流的界面设计，让您尽情畅游海底金钱帝国
                                                p
                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='10', href='/views/game.html?type=ag', data-apitype='3', starttime='1473811200000', endtime='1473811200000') 立即游戏
                        #sub-client.sub-content(rel='sub-client')
                            .container
                                .row.row-gutter-0
                                    .col-5-1
                                        dl.sub-box.rebate
                                            dt
                                                span.num-single(num='4')
                                                i.num-dot
                                                span.num-decimal(num='0')
                                                i.num-pre
                                            dd
                                                p 天天返水
                                                p 最高可达
                                    .col-5-4
                                        .api-games-wrap
                                            .api-games.api-games-client
                                                ul.list-unstyled
                                                    li.pcdownbox
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(data-api='3', href='javaScript:;', data-apitype='2', data-href='casino.html?apiType=2&apiId=3&gameTag=hot_game', data-mt-ic='_vr_mt_casino_3')
                                                                    span.apiicon.pcdown
                                                                    i PC客户端下载
                                                            dd
                                                                p
                                                                    span 提供最全最in的游戏平台客户端，让您一键开启最爱的游戏体验。
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='3', href='javaScript:;', data-apitype='2') 立即下载
                                                    li.phonedownbox
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(data-api='6', href='javaScript:;', data-apitype='2', data-mt-ic='_vr_mt_casino_6', starttime='1473120000000', endtime='1473120000000')
                                                                    span.apiicon.phonedownbtn
                                                                    i 手机端下载
                                                            dd
                                                                p
                                                                    span 独家提供苹果／安卓版手机客户端，您可以通过手机客户端完成任何游戏操作
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='6', href='javaScript:;', data-apitype='2', starttime='1473120000000', endtime='1473120000000') 立即下载
                        #sub-tryPlay.sub-content(rel='sub-tryPlay')
                            .container
                                .row.row-gutter-0
                                    .col-5-5
                                        .api-games-wrap
                                            .api-games.api-games-try
                                                ul.list-unstyled
                                                    li
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(data-api='3', href='/views/trygame.html?d=api&c=game&m=trygame&pid=18', data-apitype='2', data-href='', data-mt-ic='_vr_mt_casino_3')
                                                                    span.apiicon
                                                                    i AG真人
                                                            dd
                                                                p
                                                                    span 试玩AG真人游戏可领取体验金2000元
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='3', href='/views/trygame.html?d=api&c=game&m=trygame&pid=18', data-apitype='2') 立即试玩
                                                    li
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(data-api='6', href='/views/trygame.html?d=api&c=game&m=trygame&pid=19', data-apitype='2', data-mt-ic='_vr_mt_casino_6', starttime='1473120000000', endtime='1473120000000')
                                                                    span.apiicon
                                                                    i XIN老虎机
                                                            dd
                                                                p
                                                                    span 专注老虎机的金牌平台
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='6', href='/views/trygame.html?d=api&c=game&m=trygame&pid=19', data-apitype='2', starttime='1473120000000', endtime='1473120000000') 立即试玩
                                                    li
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(data-api='3', href='/views/slotMachine.html?type=mg', data-apitype='2', data-href='', data-mt-ic='_vr_mt_casino_3')
                                                                    span.apiicon
                                                                    i MG老虎机
                                                            dd
                                                                p
                                                                    span 试玩可即刻领取体验金2000元
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='3', href='/views/slotMachine.html?type=mg', data-apitype='2') 立即试玩
                                                    li
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(data-api='3', href='/views/slotMachine.html?type=pt', data-apitype='2', data-href='', data-mt-ic='_vr_mt_casino_3')
                                                                    span.apiicon
                                                                    i PT老虎机
                                                            dd
                                                                p
                                                                    span 试玩可即刻领取体验金2000元
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='3', href='/views/slotMachine.html?type=pt', data-apitype='2') 立即试玩
                                                    li
                                                        dl.sub-box.api-item
                                                            dt
                                                                a._vr_mt_check(data-api='9', href='/views/trygame.html?d=api&c=game&m=trygame&pid=24', data-apitype='2', data-mt-ic='_vr_mt_casino_9')
                                                                    span.apiicon
                                                                    i 捕鱼王
                                                            dd
                                                                p
                                                                    span 试玩可即刻领取体验金200000元
                                                                p
                                                                    a._vr_mt_check._vr_mt_gray._vr_mt_slogan(data-api='9', href='/views/trygame.html?d=api&c=game&m=trygame&pid=24', data-apitype='2') 立即试玩
                .navbor
        link(rel='stylesheet', href='./static/styles/ued-index.css')
        block slide
            section.index-slide
                .slide-inner
                    .sl_img._vr_carousels_check.banner1(style='background:url(./static/images/banner4.jpg) 50% 50% no-repeat;', starttime='1474267757000', endtime='33031209599000', showindex='1')
                    .sl_img._vr_carousels_check.banner2(style='background:url(./static/images/banner2.jpg) 50% 50% no-repeat;', starttime='1473861507000', endtime='33032159999000', showindex='2')
                    .sl_img._vr_carousels_check.banner3(style='background:url(./static/images/banner3.jpg) 50% 50% no-repeat;', starttime='1473861614000', endtime='33032159999000', showindex='3')
                .slide-indicators
                    ._vr_carousels_check.sl_icon(style='background:url(./static/images/index-ban-icon-02.png)', starttime='1482723906000', endtime='33031209599000')
                        input.ctc_btn(type='text')
                    ._vr_carousels_check.sl_icon(style='background:url(./static/images/index-ban-icon-03.png)', starttime='1473861507000', endtime='33032159999000')
                        input.ctc_btn(type='text')
                    ._vr_carousels_check.sl_icon(style='background:url(./static/images/index-ban-icon-01.png)', starttime='1473861614000', endtime='33032159999000')
                        input.ctc_btn(type='text')
        block notice
            section.notice.index-notice
                .container
                    .notice-list
                        ul.list-unstyled.noticeList
            script#tpl(type='text/template').
                <% _(data).each(function (v, k) { %>
                <li class="noticeTit" data-content="<%=v.get('content')%>">
                <a href="javascript:void(0)">
                <%=v.get( 'title')%>
                </a>
                </li>
                <% }) %>
            script(type='text/javascript').
                window.onload = function() {
                getNotice()
                }
        block content
            section.index-screen-01
                .container
                    .row.row-guttery-0
                        .index_l
                            .screen-item
                                .cc_title
                                    .cct_img.ccti_l
                                .cc_item1
                                    .cci_title 存款到账
                                    .cci_avg 平均时间
                                    .cci_unit 秒
                                    #deposit_num.cci_num 25
                                    .cci_load
                                        .load_s
                                        .load_e
                                            #deposit.load_rate
                                .cc_item1
                                    .cci_title 取款到账
                                    .cci_avg 平均时间
                                    .cci_unit 分
                                    #take_num.cci_num 2'57
                                    .cci_load
                                        .load_s
                                        .load_e
                                            #take.load_rate
                                .cc_item1
                                    .cci_title 便捷的银行服务
                                    .cci_visa
                                    .cci_mscd
                                    .cci_agcy 目前我们支付机构有：
                                    .cci_unit2 家
                                    #bank_num.cci_num2 34
                                .cci_scoll
                                    #deposit_s
                                        div
                                    #take_s
                                        div
                                    #bank_s
                                        div
                        .index_m
                            .screen-item
                                .cc_title
                                    .cct_img.ccti_c
                                .cc_item1
                                    .cci_title 手机客户端
                                    .cci_name MOBILE
                                    .cci_txt
                                        | 独家提供苹果/安卓客户端，您可以通过手机客户端
                                        br
                                        | 完成任何游戏操作。
                                .cc_item1
                                    .cci_title 全自动优惠活动
                                    .cci_name PROMOTION
                                    .cci_txt 全球首款全自动优惠活动体系，打造属于用户自己的最佳优惠方案，你想要的优惠这里应有尽有。
                                .cc_item1
                                    .cci_title 大牌游戏合作方
                                    .cci_name PARTNER
                                    .cci_txt 聚焦行业顶尖金牌游戏公司，以用户体验、品牌诚信为原则，为你打造最优良的博彩环境。
                        .index_r
                            .screen-item(style='background: none')
                                .ff_title
                                    .fft_img.ffti_l
                                .cc_item2
                                    #user-experience(ons='1', style='display: none;')
                                        #ue-inner
                                            #ue-limgs
                                                #ue-limgs-inner
                                            #ue-rimgs
                                                #ue-rimgs-inner
                                    #rocket(ons='2', style='display: none;')
                                        #rk-cloud
                                        #rk-main
                                        #rk-earth
                                        #rk-hill
                                    #services.move(ons='3')
                                        #s-inner
                                            #s-gugong
                                            #s-b1
                                                #s-qq
                                                #s-lm
                                                #s-green
                                                #s-white
                                    .cci_chag
                                        .ccic_icon.idx1.uslt(onclick='changeAnm(1)')
                                        .ccic_icon.idx2.uslt(onclick='changeAnm(2)')
                                        .ccic_icon.idx3.slt(onclick='changeAnm(3)')
                                .cc_item1
                                    #anmTxt1(style='display: none;')
                                        .cci_title 极致用户体验
                                        .cci_txt2
                                            | UED=User Experience Design，中文简称“用户
                                            br
                                            | 体验设计”。重新定义各个元素、倾听每个用户心
                                            br
                                            | 声，竭力寻求最出色。
                                    #anmTxt2(style='display: none;')
                                        .cci_title 颠覆性产品
                                        .cci_txt2
                                            | 每一款全新上线的UEDbet产品都是经过大量测
                                            br
                                            | 试后证实最符合亚洲人的产品，这是一个对既定
                                            br
                                            | 现状做出强势挑战的创新团队。
                                    #anmTxt3
                                        .cci_title 接地气本土服务
                                        .cci_txt2
                                            | 青春洋溢的UED团队通过最贴近生活的方式设计
                                            br
                                            | 出一款款高端、大气的产品，为用户带来最为接
                                            br
                                            | 地气的个性化本土定制服务。
                                            br
        block footer
            section.index-screen-02
                .container
                    .row
                        .col-3-1
                            .screen-item
                                .ff_title
                                    .fft_img.ffti_about
                                .tiaogui.show
                                    p UEDbet是注册于菲律宾Manila的合法公司，在进行网站注册或游戏前，请确保您已满18周岁并且遵循当地的法律法规。
                                    a(href='/views/help/duty.html') 18 + 条规
                                .copyright Copyright ©
                        .col-3-1.parden
                            .screen-item
                                .ff_title
                                    .fft_img.ffti_c
                                .ff_pt.show
                                    a.ff_pti.ea(href='http://www.entwinetech.com/', target='_blank', style='display:none;')
                                    a.ff_pti.pt(href='http://www.playtech.com/html/', target='_blank')
                                    a.ff_pti.liao(href='/', target='_blank')
                                    a.ff_pti.gd(href='http://www.golddeluxephil.com/', target='_blank')
                                    a.ff_pti.eig
                                    a.ff_pti.gam(href='http://www.gamcare.org.uk/', target='_blank')
                                    a.ff_pti.gicc(target='_blank')
                                    a.ff_pti.tha(href='http://www.thawte.com/', target='_blank')
                                    a.ff_pti.keno(href='/', target='_blank')
                        .col-3-1.howto
                            .screen-item
                                .ff_title
                                    .fft_img.ffti_r
                                .ff_help.show
                                    a.ffh_item(href='/views/help/deposit.html')
                                        .ffh_arrow.arr1
                                        .ffhi_a 如何存款
                                    a.ffh_item(href='/views/help/agent.html', target='_blank')
                                        .ffh_arrow.arr2
                                        .ffhi_a 合营伙伴
                                    a.ffh_item(href='/views/help/contactus.html')
                                        .ffh_arrow.arr3
                                        .ffhi_a 联系我们
                                    a.ffh_item(href='/views/help/withdrawal.html')
                                        .ffh_arrow.arr4
                                        .ffhi_a 如何提款
                                    a.ffh_item(href='/views/help/duty.html')
                                        .ffh_arrow.arr5
                                        .ffhi_a 责任条款
                                    a.ffh_item(href='/views/help/conditions.html')
                                        .ffh_arrow.arr6
                                        .ffhi_a 规则与条款
                                .ff_brow
                                    .ffb_title 推荐浏览器：
                                    .ffb_all.show
                                        a.ffb_item.js(href='http://chrome.360.cn/', target='_blank', title='360急速')
                                            .ffb_icon
                                            .ffb_vsion 7.0
                                        a.ffb_item.ie(href='http://windows.microsoft.com/zh-cn/internet-explorer/download-ie', target='_blank', title='IE9')
                                            .ffb_icon
                                            .ffb_vsion 9.0
                                        a.ffb_item.cm(href='https://www.google.com/intl/zh-CN/chrome/browser/', target='_blank', title='谷歌')
                                            .ffb_icon
                                            .ffb_vsion 13.0
                                        a.ffb_item.fx(href='http://firefox.com.cn/download/', target='_blank', title='火狐')
                                            .ffb_icon
                                            .ffb_vsion 12.0
                                .ff_shall
                                    .ffs_title 喜欢就分享我们：
                                    .ffs_all.show
                                        a.ffs_item.xl(href='javascript', target='_blank', title='新浪微博')
                                            .ffs_icon
                                            .ffs_txt 微博
                                        a.ffs_item.tx(href='/views/help/contactus', target='_blank', title='腾讯微博')
                                            .ffs_icon
                                            .ffs_txt 腾讯
                                        a.ffs_item.wx(href='/views/help/contactus', title='微信')
                                            .ffs_icon
                                            .ffs_txt 微信
                                        a.ffs_item.qq(href='/views/help/contactus', title='QQ')
                                            .ffs_icon
                                            .ffs_txt QQ
            .loginpob.success.pob
                h3
                    p 消息
                    span.close
                    .clear
                dl
                    dt
                    dd
                a.loginsure.success 确定
            .pob.accountNumber
                h3
                    p 找回用户名
                    span.close
                    .clear
                h5 请按照以下步骤找回用户名：
                .step
                    ul.stepfont
                        li.fulfill 联系客服
                        li 核对资料
                        li 审核通过
                        li.stepLast 完成
                    .clear
                    ul.stepbg
                        li
                        li
                        li
                    .clear
                .toKefu
                    p 客服人员将根据您提供的信息，在核实您身份之后，告知您的账号。
                    a.online_kefu(target='_blank', href='http://chat.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=651273&configID=45233&jid=8622492600') 立即联系
            .pob.findpassword
                h3
                    p 找回密码
                    span.close
                    .clear
                h5 请按照以下步骤找回密码：
                .step
                    ul.stepfont
                        li.fulfill 输入用户名
                        li 身份验证
                        li 修改密码
                        li.stepLast 完成
                    .clear
                    ul.stepbg
                        li
                        li
                        li
                    .clear
                .formcont.form1
                    .findusername
                        span 用户名：
                        input#findUsername(type='text', name='')
                        p.clear
                        span.error
                    .findcode
                        span 验证码：
                        input#findCode(type='text', name='')
                        span#verificationCode
                            img(src='')
                        span.noSee 看不清
                        p.clear
                        span.error
                    a.nextstep(href='javascript:;') 下一步
                .formcont.form2
                    p 请选择找回密码的方式：
                    ul.chooseType
                        li.activeType.emailType
                            i
                            span 通过绑定邮箱找回
                        li.questionType
                            i
                            span 通过安全问题找回
                        li.securitycode
                            i
                            span 通过资金密码找回
                        li.kefu
                            a(href='http://chat.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=651273&configID=45233&jid=8622492600', target='_blank')
                                i
                                span 联系在线客服
                    .clear
                    a.nextstep(href='javascript:;') 下一步
                .formcont.form3
                    .emailBox.formBox
                        p.emailTips
                        .safeemail
                            span 邮箱：
                            input#emailaddr(type='text', name='')
                            p.clear
                        .emailCode
                            span 验证码：
                            input#emailCode(type='text', name='')
                            button#getCode 获取验证码
                            p.clear
                            p.err
                        ul.gostep
                            li.prestep 返回上一步
                            li.nextstep 下一步
                    .questionBox.formBox
                        .forminput
                            span 安全问题：
                            select#questionName
                            p.clear
                        .forminput
                            span 答案：
                            input#answer(placeholder='请输入问题的答案')
                            p.clear
                            p.err
                        ul.gostep
                            li.prestep 返回上一步
                            li.nextstep 下一步
                    .securitycodeBox.formBox
                        .forminput
                            span 资金密码：
                            input#securitycode(type='password', name='')
                            p.clear
                        ul.gostep
                            li.prestep 返回上一步
                            li.nextstep 下一步
                .formcont.form4
                    .findNewpassword
                        span 设置新密码：
                        input#setNeword(type='password', name='')
                        p.error
                        p.clear
                    .proNewpassword
                        span 确认新密码：
                        input#prosetNeword(type='password', name='')
                        p.error
                        p.clear
                    a.nextstep(href='javascript:;') 下一步
                .formcont.form5
                    dl
                        dt
                        dd
                    a.closepob(href='javascript:;') 关闭
            .mask
            footer.footer-bar
                .container
                    .row.footer-row
                        .col-3-1.footer-item
                            a.bds-jt-logo.pull-left(href='http://www.realbetisbalompie.es/es/', target='_blank')
                            p 2015-2016赛季西甲联赛赞助商
                            a.bds-jt-title(href='http://www.realbetisbalompie.es/es/', target='_blank')
                            ul.list-inline
                                li
                                    a(href='help/surport.html', target='_blank') 赞助信息
                                li
                                    a(href='help/odds.html', target='_blank') 赔率收录
                                li
                                    a(href='http://baike.baidu.com/view/1010521.htm?fromtitle=%E7%9A%87%E5%AE%B6%E8%B4%9D%E8%92%82%E6%96%AF&fromid=1345560&type=syn', target='_blank') 皇家贝蒂斯百科
                        .col-3-1.footer-item
                            a.htf-jt-logo.pull-left(href='http://www.getafecf.com/', target='_blank')
                            p 2014-2015赛季西甲联赛赞助商
                            a.htf-jt-title(href='http://www.getafecf.com/', target='_blank')
                            ul.list-inline
                                li
                                    a(href='help/surport.html', target='_blank') 赞助信息
                                li
                                    a(href='help/poloshirt.html', target='_blank') 球衣发布
                                li
                                    a(href='help/banner.html', target='_blank') 祝皇马.巴萨踢出真爱
                        .col-3-1.footer-item.none-bg
                            a(href='javascript:void(0);', target='_blank')
                                .live-jt-logo
                                .live-jt-title
                            div
                                | 提供西甲、西乙、日职联、K联赛等数万场高清体育直播
                                br
                                | 唯一有实力赞助西甲并提供手机体育直播的亚洲顶级公司
                            ul.list-inline
                                li
                                    a.ft_liveevent(href='help/sports.html', target='_blank') 五大联赛投注
                                li
                                    a(href='help/sports.html', target='_blank') 欧冠投注
                                li
                                    a(href='help/sports.html', target='_blank') 世界杯外围预选赛
                .loadingGif
                    img(src='./static/images/loading.gif')
            .floatr
                ul
                    li.right_online
                        a(target='_blank', href='http://chat.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=651273&configID=45233&jid=8622492600') 客服
                    li.right_qq QQ
                    li.right_phone 电话
                    li.qqBox
                    li.phoneBox
                p.right_line
        script#question(type='text/template').
            <% _(data).each(function (v, k) { %>
            <option data-id="<%=v.get('id')%>">
            <%=v.get( 'title')%>
            </option>
            <%})%>
        script.
            if (typeof module === 'object') {
            window.module = module;
            module = undefined;
            }
        script(src='./static/scripts/jquery-1.11.3.min.js')
        script.
            if (window.module) module = window.module;
        script(src='./static/scripts/underscore-min.js')
        script(src='./static/scripts/backbone-min.js')
        script(src='./static/scripts/gui-base.js')
        script(src='./static/scripts/bootstrap-dialog.min.js')
        script(src='./static/scripts/jquery.validate.js')
        script(src='./static/scripts/jquery.super-marquee.js')
        script(src='./static/scripts/public.js')
        script(src='./static/scripts/login.js')
        script.
            (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-91754458-1', 'auto');
            ga('send', 'pageview');
        script(src='./static/scripts/gui-ued.min.js')
        script(src='./static/scripts/jquery.knob.min.js')
        script(src='./static/scripts/jquery.validate.extend.msites.js')
        script(src='./static/scripts/ued-index.js')
