extends layout
block append head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    style.
        body {background-color: #490F1B !important;}
        .p2-left-box {width: 408px !important; margin-right: 10px}
        .p2-center-box {width: 408px !important; margin-right: 10px}
        .p2-right-box {width: 335px !important;}
        .p2-item {
            width: 100%;
            height: 100%;
            display: inline-block;
        }
        .p2-block {
            width: 408px;
            height: 227px;
            position: relative;
            margin-bottom: 10px;
        }
        .p2-block .rule {
            margin: 20px 0 0 258px;
            position: absolute;
            width: 125px;
            display: block;
            height: 170px;
        }
        .p2-block .start {
            margin: 135px 0 0 44px;
            position: absolute;
            width: 109px;
            display: block;
            height: 40px;
        }
        .p2-pt {background-image: url(./static/images/p2_pt.png);}
        .p2-ag {background-image: url(./static/images/p2_ag.png);}
        .p2-mg {background-image: url(./static/images/p2_mg.png);}
        .p2-bbin {background-image: url(./static/images/p2_bbin.png);}
        .p2-experience {
            background: url(./static/images/p2_experience.gif) no-repeat;
        }
        .p2-experience img {
            margin-top: 60px;
        }
        .p2-promotion {
            width: 360px;
            background: url(./static/images/p2_promotion.gif) no-repeat;
        }
        .p2-promotion .more {
            width: 100%;
            text-align: right;
            padding-top: 1.5em;
        }
        .p2-promotion .more a {
            color: #F39C51;
            letter-spacing: 3px;
        }
        .p2-promotion .more .fa {
            margin-left: .5em;
        }
        .p2-promotion ul {
            margin-top: 40px;
            width: 360px;
        }
        .p2-promotion ul li {
            margin-bottom: .9em;
        }
        .p2-promotion ul li.minor {
            opacity: 0.5;
        }
        .p2-promotion ul li::before {
            content: ">";
            margin: 0 1em 0 2em;
            color: white;
        }
        .p2-promotion ul li .date {
            display: inline;
            float: right;
        }
block slide
    section.index-slide
        .slide-inner
            .sl_img._vr_carousels_check.banner1(style='background:url(./static/images/banner4.jpg) 50% 50% no-repeat;', starttime='1474267757000', endtime='33031209599000', showindex='1')
block content
    section.index-screen-01
        .container
            .row.row-guttery-0
                .index_l.p2-left-box
                    .p2-item
                        .p2-block.p2-pt
                            a.rule(href="#rule")
                            a.start(href="#start")
                        .p2-block.p2-mg
                            a.rule(href="#rule")
                            a.start(href="#start")
                .index_m.p2-center-box
                    .p2-item
                        .p2-block.p2-ag
                            a.rule(href="#rule")
                            a.start(href="#start")
                        .p2-block.p2-bbin
                            a.rule(href="#rule")
                            a.start(href="#start")
                .index_r.p2-right-box
                    .p2-item
                        .p2-block.p2-experience
                            img(src="./static/images/p2_experience_banner.gif")
                        .p2-block.p2-promotion
                            .more 
                                a(href="#") 
                                    | 更多優惠活動
                                    i.fa.fa-caret-right
                            ul
                                li 
                                    span 試玩遊戲
                                li.minor 
                                    span 下載客戶端
                                    .date 2017/2/28
                                li.minor 
                                    span 開戶首存
                                    .date 2017/2/28
                                li.minor  
                                    span 開戶首存
                                    .date 2017/2/28